.main-content {
  margin-left: $sidebar-width;

  header {
    height: $header-height;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu-toggle {
      label {
        height: 60px;
        width: 60px;
        display: grid;
        place-items: center;
        font-size: 1.5rem;
        border-radius: 50%;

        &:hover {
          background: $color-dark-grey;
        }
      }
    }

    .header-icons {
      span {
        display: inline-block;
        margin-left: 0.7rem;
        font-size: 1.4rem;
      }
    }
  }

  main {
    padding: 1.5rem;
    background: $color-light-grey;
    min-height: calc(100vh - #{$header-height});

    .page-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header-actions {
        button {
          padding: 0.6rem 1rem;
          margin-left: 1rem;
          display: inline-flex;
          align-items: center;
          outline: none;
          color: $color-white;
          background: $color-dark-purple;
          border: 2px solid $color-light-grey;
          border-radius: 3px;
          font-weight: 600;

          span {
            font-size: 1.2rem;
            margin-right: 0.6rem;
          }
        }
      }
    }
  }
}
