.main-content {
  margin-left: $sidebar-width;

  header {
    @include shadow;
    height: $header-height;
    width: calc(100vw - #{$sidebar-width});
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: $sidebar-width;
    z-index: 10;
    background: $color-white;

    .menu-toggle {
      label {
        height: 60px;
        width: 60px;
        display: grid;
        place-items: center;
        font-size: 1.5rem;
        border-radius: 50%;

        &:hover {
          background: $color-light-grey2;
        }
      }
    }

    .header-icons {
      span {
        display: inline-block;
        margin-left: 0.7rem;
        font-size: 1.4rem;
      }
    }
  }

  main {
    padding: 1.5rem;
    min-height: calc(100vh - #{$header-height});
    background: $color-light-grey1;
    margin-top: $header-height;

    .page-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header-actions {
        button {
          @include button;

          span {
            font-size: 1.2rem;
            margin-right: 0.6rem;
          }
        }
      }
    }
  }
}
