.main-content {
  margin-left: $sidebar-width;

  header {
    height: $header-height;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu-toggle {
      label {
        height: 60px;
        width: 60px;
        display: grid;
        place-items: center;
        font-size: 1.5rem;
        border-radius: 50%;

        &:hover {
          background: $color-dark-grey;
        }
      }
    }

    .header-icons {
      span {
        display: inline-block;
        margin-left: 0.7rem;
        font-size: 1.4rem;
      }
    }
  }
}
