/* Fixed measures */
$header-height: 70px;

/* Colors */
$color-white: #fff;
$color-purple: #8da2fb;
$color-dark-purple: #5850ec;
$color-light-grey: #f1f5f9;
$color-dark-grey: #efefef;

/* Avatar */
$avatar-img: url('https://avatars.dicebear.com/api/male/1406.svg?b=%237af089&mood[]=happy');

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
$font-family-body: 'Poppins', sans-serif;
