/* Fixed measures */
$header-height: 70px;

/* Colors */
$color-white: #fff;
$color-black: #000;
$color-purple: #8da2fb;
$color-dark-purple: #5850ec;
$color-light-grey1: #f1f5f9;
$color-light-grey2: #efefef;
$color-grey: #555;
$color-dark-grey: #333;

/* Status */
$color-success: seagreen;
$color-warning: orange;
$color-danger: tomato;

/* Status grid */
$color-ux: #c9f7f5;
$color-dev: #fff4dc;


/* Avatar */
$avatar-img: url('https://avatars.dicebear.com/api/male/1406.svg?b=%237af089&mood[]=happy');

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
$font-family-body: 'Poppins', sans-serif;
