@import './variables';
@import './mixins';
@import './components';

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  @include no-scrollbar;
  font-family: $font-family-body;
}
